{% extends "vendedor/base.html" %}

{% block content %}
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
        <h1 style="margin-bottom: 20px;"><b>Herramienta más Arrendada</b></h1>

        <div style="width: 800px; height: 800px;">
            <canvas id="myChart"></canvas>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [
                        {% for herramienta in herramientas_mas_arrendadas %}
                            "{{ herramienta.nombre_herramienta }}",
                        {% endfor %}
                    ],
                    datasets: [{
                        label: 'Cantidad',
                        data: [
                            {% for herramienta in herramientas_mas_arrendadas %}
                                {{ herramienta.total }},
                            {% endfor %}
                        ],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)',
                            'rgba(128, 0, 0, 0.5)',
                            'rgba(0, 128, 0, 0.5)',
                            'rgba(0, 0, 128, 0.5)',
                            'rgba(128, 128, 0, 0.5)',
                            'rgba(128, 0, 128, 0.5)',
                            'rgba(0, 128, 128, 0.5)',
                            'rgba(255, 0, 0, 0.5)',
                            'rgba(0, 255, 0, 0.5)',
                            'rgba(0, 0, 255, 0.5)',
                            'rgba(255, 255, 0, 0.5)',
                            'rgba(255, 0, 255, 0.5)',
                            'rgba(0, 255, 255, 0.5)',
                            'rgba(192, 192, 192, 0.5)',
                            'rgba(128, 128, 128, 0.5)',
                            'rgba(0, 0, 0, 0.5)',
                            'rgba(255, 128, 0, 0.5)',
                            'rgba(128, 255, 0, 0.5)',
                            'rgba(0, 128, 255, 0.5)',
                            'rgba(255, 0, 128, 0.5)',
                            'rgba(128, 0, 255, 0.5)',
                            'rgba(0, 255, 128, 0.5)',
                            'rgba(255, 128, 128, 0.5)',
                            'rgba(128, 255, 128, 0.5)',
                            'rgba(128, 128, 255, 0.5)',
                            'rgba(255, 255, 128, 0.5)',
                            'rgba(255, 128, 255, 0.5)',
                            'rgba(128, 255, 255, 0.5)',
                            'rgba(192, 0, 0, 0.5)',
                            'rgba(0, 192, 0, 0.5)',
                            'rgba(0, 0, 192, 0.5)',
                            'rgba(192, 192, 0, 0.5)',
                            'rgba(192, 0, 192, 0.5)',
                            'rgba(0, 192, 192, 0.5)',
                        ],
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
    </div>
{% endblock %}
