
#qn{
    background: rgb(64, 34, 231);
    font-family: Cambria;
    text-align: center;
    padding: 15px;
    border-bottom: solid 5px black;
    border-radius: 15px 15px 0px 0px;
    color: black;
}