{% extends 'vendedor/productos.html' %}

{% block content %}
  <h2>Lista de Productos Disponibles</h2>
  <ul>
    {% for producto in productos %}
      <li>
        <strong>{{ producto.nombre }}</strong>
        <p>{{ producto.descripcion }}</p>
        <p>Nombre: ${{ producto.nombre }}</p>
        <p>Descripcion: ${{ producto.descripcion }}</p>
        <p>Precio: ${{ producto.precio }}</p>
        {% if i.imagen %}
        <td><img src="{{productos.imagen.url}}" alt="Error" width="100" height="100"></td>
        {% else %}
        <p>Vendedor: {{ producto.vendedor.username }}</p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}